# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# alembic 
# Ignore the generated sqlite db if any
*.db

# Tooling
.vscode/
.idea/
*.swp
*.swo
