# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Ignore the generated sqlite db if any
*.db

# Tooling
.vscode/
.idea/
*.swp
*.swo

#Custom
github_velocity_test_output.json
github_velocity_output.json

# Frontend Matrix Dependencies
frontend/node_modules
frontend/.next
frontend/out
frontend/.swc
frontend/npm-debug.log
frontend/yarn-debug.log
frontend/yarn-error.log

#Secret
daas-secrets.yaml